<!DOCTYPE html>
<html lang="ga">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>

