---
navClass: navbar-content
---
<!DOCTYPE html>
<html lang="ga">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>
<body>
  <main>
    {% include "partials/nav.njk" %}

    <section class="content-section">
      <h1>{{ title }}</h1>
      <div class="content-text">
        {{ content | markdown | safe }}
      </div>
    </section>
  </main>
</body>
</html>
