---
navClass: navbar-content
---
<!DOCTYPE html>
<html lang="ga">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    {% include "partials/nav.njk" %}
    <div class="fuinn-page">
      {{ content | safe }}
    </div>
  </main>
</body>
</html>
