<!DOCTYPE html>
<html lang="ga">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
    <section id="home-hero">
      {% include "partials/nav.njk" %}
      <div class="hero-title">
        <span>An Cumann</span>
        <span>Rince Seite</span>
      </div>
    </section>
  </main>
</body>
</html>
