<!DOCTYPE html>
<html lang="ga">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
</head>
<body>
  <main>
    <section id="home-hero">
      {% include "partials/nav.njk" %}
      <div class="hero-title">
        <span>Seit</span>
      </div>
    </section>

    <section class="home-cards">
  <div class="home-cards-inner">

    <a class="home-card home-card-about" href="{{ '/about/' | url }}">
      <div class="home-card-overlay">
        <h2>Fúinn</h2>
        <p>Eolas faoin gcumann agus faoin obair atá ar bun againn.</p>
      </div>
    </a>

    <a class="home-card home-card-sets" href="{{ '/sets/' | url }}">
      <div class="home-card-overlay">
        <h2>Seiteanna</h2>
        <p>Treoracha, nótaí, & físeáin do gach seit.</p>
      </div>
    </a>

    <a class="home-card home-card-add" href="{{ '/cuir-leis/' | url }}">
      <div class="home-card-overlay">
        <h2>Cuir leis</h2>
        <p>Roinn do chuid saineolais linn.</p>
      </div>
    </a>

  </div>
</section>


  </main>
</body>
</html>
