---
layout: layouts/content.njk
title: Fúinn
permalink: /about/
---

Is eagraíocht é **An Cumann Rince Seite** a chuirtear ar bun chun rince seit traidisiúnta na hÉireann a chur chun cinn agus a chaomhnú. Tá sé d'aidhm againn na seit rince a choimeád beo agus a chur ar fáil do rinceoirí ar fud na tíre.

Is cuid lárnach de chultúr na hÉireann iad na seit rince, agus táimid tiomanta do na traidisiúin seo a chothú agus a fhorbairt. Tá bailiúchán mór seit againn ó gach contae in Éirinn, agus táimid ag cur leo de shíor.

Má tá suim agat i rince seit nó má tá ceist agat, bíodh teagmháil againn.
