---
layout: layouts/content.njk
title: Fúinn
permalink: /about/
---

Is tionscadal neamhbhrabúis é **Cumann Rince Seite** atá dírithe ar rince seite na hÉireann a chaomhnú, a dhoiciméadú agus a chur chun cinn don lá inniu agus don todhchaí.

Táimid ag obair chun *baile ar líne* a chruthú don rince seite, áit a mbeidh acmhainní scríofa agus físe ar fáil, agus béim ar leith ar an **nGaeilge**.

Is é an sprioc atá againn ná an rince seite a dhéanamh níos inrochtana do dhaoine in Éirinn agus thar lear, ag gach leibhéal rince, agus an Ghaeilge i gcroílár an ábhair.

Is tionscadal pobail é seo, bunaithe ar chomhoibriú le rinceoirí, ceoltóirí agus daoine a bhfuil grá acu don traidisiún rince seite.

Tháinig an tionscadal seo chun cinn as an obair agus an taithí a forbraíodh laistigh de chumann Ollscoil na Gaillimhe *An Cumann Rince Seite*, agus tá sé anois á fhorbairt mar thionscadal neamhspleách.

