---
layout: layouts/content.njk
title: Cuir leis
permalink: /cuir-leis/
---

Is tionscadal leanúnach é seo, agus táimid an-bhuíoch as aon chabhair nó ionchur ón bpobal.

Tá sé mar aidhm againn cartlann bheo de sheit rince traidisiúnta na hÉireann a chur le chéile, agus ní féidir é sin a dhéanamh gan cabhair ó rinceoirí, ceoltóirí agus lucht an traidisiúin ar fud an domhain.

Má tá eolas agat ar seit nach bhfuil ar an suíomh fós, nó má tá nótaí nó mionathruithe áitiúla ar fáil agat, bheadh áthas orainn iad a chur san áireamh agus cur leis an mbailiúchán.

**Go raibh míle maith agat as tacú leis an tionscadal seo agus as cabhrú linn an chartlann a fhás.**
