<nav class="navbar {% if navClass %}{{ navClass }}{% endif %}">
  <div class="nav-left">
    {% if navClass == "navbar-content" %}
    <a href="{{ '/' | url }}">
      <img src="{{ '/images/logo.png' | url }}" alt="{{ site.title }}" class="logo">
    </a>
    {% else %}
    <img src="{{ '/images/logo.png' | url }}" alt="{{ site.title }}" class="logo">
    {% endif %}

    <a href="{{ '/sets/' | url }}">Seiteanna</a>
    <a href="{{ '/about/' | url }}">Fúinn</a>
  </div>
</nav>

