<nav class="navbar {% if navClass %}{{ navClass }}{% endif %}">
  <div class="nav-left">
    <a href="{{ '/' | url }}">Baile</a>

    <a href="{{ '/seiteanna/' | url }}">Seiteanna</a>
  </div>
</nav>


